<div class="container">
    <div style="text-align:center">
      <h1> Welcome to {{ 6203 }}</h1>
    </div>
    <h2>Donation Page</h2>
    <p>Resize the browser window to see the effect. When the screen is less than 800px wide, make the two columns stack on
      top of each other instead of next to each other.</p>
    <div class="row">
      <div class="col-75">
        <div class="container">
          <form #donationForm="ngForm" (ngSubmit)="onSubmit(donationForm)" autocomplete="on">
  
            <div class="row">
              <div class="col-50">
                <h3>Billing Address</h3>
                <label for="fname"><i class="fa fa-user"></i> First Name</label>
                <input type="text" id="fname" [(ngModel)]="fname" name="fname" placeholder="John">
                <label for="lname"><i class="fa fa-user"></i> Last Name</label>
                <input type="text" id="lname" [(ngModel)]="lname" name="lname" placeholder="Doe">
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="john@example.com">
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" id="adr" [(ngModel)]="address" name="address" placeholder="542 W. 15th Street">
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input type="text" id="city" [(ngModel)]="city" name="city" placeholder="New York">
  
                <div class="row">
                  <div class="col-50">
                    <label for="state">State</label>
                    <input type="text" id="state" [(ngModel)]="state" name="state" placeholder="NY">
                  </div>
                  <div class="col-50">
                    <label for="zip">Zip</label>
                    <input type="text" id="zip" [(ngModel)]="zip" name="zip" placeholder="10001" autocomplete="off">
                  </div>
                </div>
              </div>
  
              <div class="col-50">
                <h3>Payment</h3>
                <label for="fname">Any amount is appreciated!</label>
                <input [(ngModel)]="a3" type="radio" name="a3" value="$10"> $5
                <input  [(ngModel)]="a3" type="radio" name="a3" value="$50"> $10
                <input [(ngModel)]="a3" type="radio" name="a3" value="$100"> $15
                <input  [(ngModel)]="a3" type="radio" name="a3" value="$200"> $20
                <input  [(ngModel)]="a3" type="radio" name="a3" value="$500"> $50
  
                <!-- Set recurring payments until canceled. -->
                <input type="hidden" name="src" value="1">
                <label for="cname">Name on Card</label>
                <input [(ngModel)]="cardname" type="text" id="cname" name="cardname" placeholder="John More Doe">
                <label for="ccnum">Credit card number</label>
                <input [(ngModel)]="cardnumber" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                <label for="expmonth">Exp Month</label>
                <input [(ngModel)]="expmonth" type="text" id="expmonth" name="expmonth" placeholder="September">
                <div class="row">
                  <div class="col-50">
                    <label for="expyear">Exp Year</label>
                    <input [(ngModel)]="expyear" type="text" id="expyear" name="expyear" placeholder="2018">
                  </div>
                  <div class="col-50">
                    <label for="cvv">CVV</label>
                    <input [(ngModel)]="cvv" type="text" id="cvv" name="cvv" placeholder="352">
                  </div>
                  <!-- Display the payment button. -->
                  <button type="submit" name="submit" alt="Subscribe">Subscribe</button>
  
  
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="pocket-extension-root">
    <div class="pocket-egasyq"></div>
  </div>
  <div id="pocket-extension-styles">
    <style data-emotion="pocket"></style>
  </div>
  
  